/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.DS_Store

# Rake-able scratch working directory
/scratch

# Ignore lockfile for gem
Gemfile.lock

# debug logs
.byebug_history

# development kubeconfig
/kubeconfig

# A handy file for keeping scraps around
/scratch