/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.DS_Store

# Debug sessions
debug_session.rb

# Ignore lockfile for gem
Gemfile.lock

# debug logs
.byebug_history

# development kubeconfig
/kubeconfig

# A handy file for keeping scraps around
/scratch